
* {
  box-sizing: border-box;
}

body {
  background-image: url(img/background.png);
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color:#515076;
}

.title {
  font-size: 70px;
  font-weight: 400px;
  line-height: 78px;
  margin: 0px;
  padding: 0px;
  margin-top: 220px;
  margin-bottom: 110px;
  text-align: center;
  color:#515076
}

.products-list {
  list-style: none;
  padding: 0;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 45px;
  column-gap: 45px;
  justify-content: center;
  margin-bottom: 116px;
}

.list {
  padding: 25px;
  border: 1px solid #f3f3f6;
  background-color: #F7F7FA;
}

.images {
  margin-bottom: 30px;
}

.skin-type {
  color:#A5A3B9;
  font-size: 12px;
  line-height: 24px;
  margin: 0px;
  padding: 25px;
}

.product-name {
  color:#515076;
  line-height: 27px;
  font-weight: 700;
  font-size: 20px;
  padding: 25px;
}

.description {
  color:#515076;
  font-size: 13px;
  line-height: 18px;
  padding: 25px;
  margin-bottom: 10px;
}

.compound {
  margin:0;
  padding: 25px;
  padding-bottom: 10px;
}

.compound-list {
  padding-bottom: 25px;
  margin-bottom: 30px;
  margin-top: 5px;
  line-height: 22px;
}

.price {
  color:#515076;
  line-height: 24px;
  font-size: 20px;
  padding: 25px;
  font-weight: 700;
}

.price-value {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 25px;
  margin-left: 160px;
}
