.container {
  width: 1750px;
  margin: 0 auto;
}

.catalog__container {
  background-image: url('/img/dandelion.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 1px;
}

.catalog__title {
  margin-bottom: 110px;
  margin-top: 220px;
}