.products {
  list-style: none;
  padding: 0;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 45px;
  column-gap: 45px;
  justify-content: center;
  margin-bottom: 116px;
}

.products__item {
  padding: 25px;
  border: 1px solid #f3f3f6;
  background-color: #F7F7FA;
}